{% extends "main.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <table class="table mt-5 text-center table-striped">
        <thead>
        <tr class="fs-4">
            <th scope="col">#</th>
            <th scope="col">Project owner's name</th>
            <th scope="col">Project Name</th>
            <th scope="col">Project Description</th>
            <th scope="col">Project Technology</th>
        </tr>
        </thead>
        <tbody class="fs-5">
        {% for project in projects %}
            <tr>
                {% if user in users %}
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                {% endif %}
                <td>{{ project.project_name | title }}</td>
                <td>{{ project.project_description | title }}</td>
                <td>{{ project.project_technology | title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}