{% extends "main.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <table class="table mt-5 text-center table-striped">
        <thead>
        <tr class="fs-4">
            <th scope="col">#</th>
            <th scope="col">Project Sahip name</th>
            <th scope="col">Project Name</th>
            <th scope="col">Project Description</th>
            <th scope="col">Project Technology</th>
        </tr>
        </thead>
        <tbody class="fs-5">
        {% for project in projects %}
            {% if project.is_active == True %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.project_owner }}</td>
                    <td>{{ project.project_name | title }}</td>
                    <td>{{ project.project_description | title }}</td>
                    <td>{{ project.project_technology | title }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}